body {
	font-family: "Cuprum";
	font-size: 13px;
}

.container {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.clearfix::after {
	display: table;
	content: '';
	clear: both;
}
.header {
	background-color: #f1f5f7;
	font-size: 17px;
}

.header-top {
	background-color: #293449;
	vertical-align: middle;
	color: #ffffff;
	margin-bottom: 45px;
}

.header-top a {
	line-height: 42px;
	font-size: 17px;
}

.technomart-logo {
	position: relative;
	width: 220px;
	float: left;
	font-size: 24px;
	line-height: 42px;
	background-color: #ee3643;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.technomart-logo::after {
	display: inline-block;
	position: absolute;
	content: '';
	height: 4px;
	width: 220px;
	background-color: #b52933;
	left: 0;
	bottom: -4px;
}

.search {
	content: "";
	border: 0px;
	width: 220px;
	margin: 0;
	
	padding: 0px;
	padding-left: 50px;
	background-color: #293449;
	background-image: url(../img/icons/search.png);
	background-repeat: no-repeat;
	background-position: 5% 50%;
	opacity: 0.5;
	color: #000000;
	height: 42px;
	color: rgba(0,0,0, 0);
}

.search:hover {
	opacity: 1;
}

.search:focus + .search-label {
	visibility: hidden;
}

.search:focus {
	background-image: url(../img/icons/search-red.png);
	opacity: 1;
}

.search:focus {
	background-color: #ffffff;
	font-size: 12px;
	color: #000000;
}

.search-label {
	position: absolute;
	left: 50px;
	top: 12px;
	font-size: 17px;
}

.header-bookmarks,
.header-cart {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 150px;
	height: 43px;
	padding-left: 45px;
}

.header-bookmarks::after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 14px;
	height: 16px;
	left: 18px;;
	top: 12px;
	background-image: url(../img/icons/bookmark.png);
	opacity: 0.3;
}

.header-cart::after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 17px;
	height: 16px;
	left: 14px;;
	top: 12px;
	background-image: url(../img/icons/cart.png);
	opacity: 0.3;
}

.header-top-menu a {
	text-decoration: none;
	color: #ffffff;
}

.header-order {
	display: inline-block;
	width: 150px;
	height: 43px;
	background-color: #63a63e;
	text-align: center;
}

.header-order:hover {
	background-color: #5fbb2d;
}

.header-order:active {
	background-color: #518534;
	color: rgba(255,255,255, 0.6)
}

.search:hover,
.header-bookmarks:hover,
.header-cart:hover {
	background-color: #212a3a;
}

.header-bookmarks:hover::after,
.header-cart:hover::after{
	opacity: 1;
}

.header-bookmarks:active,
.header-cart:active {
	background-color: #161d29;
	color: rgba(255,255,255, 0.6)
}

.header-bookmarks:active::after,
.header-cart:active::after {
	opacity: 0.5;
}




.header-top-menu {
	font-size: 0px;
}

.containerH {
	font-size: 0;
}

.search-form {
	display: inline-block;
	position: relative;
	font-size: 0;
}

.header-middle-about {
	display: inline-block;
	float: left;
	width: 200px;
	padding: 0;
	margin: 0;
	margin-left: 55px;
	margin-right: 70px;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts {
	display: inline-block;
	float: left;
	margin-right: 65px;
}

.header-contacts-phone {
	position: relative;
	box-sizing: border-box;
	width: 270px;
	height: 45px;
	border: 3px solid #ffffff;
	padding: 10px;
	padding-left: 70px;
	font-size: 21px;
	color: #e9292a;
	vertical-align: middle;
}

.header-contacts-phone::before {
	display: inline-block;
	position: absolute;
	width: 19px;
	height: 19px;
	left: 10px;
	top: 10px;
	content:'';
	background-image: url(../img/icons/phone.png);
}

.header-contacts-address {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-block {
	display: inline-block;
}

.btn-user {
	display: inline-block;
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	line-height: 45px;
	background-color: #ffffff;
	vertical-align: middle;
}

.btn-user:hover {
	color:#ee3643;
}

.btn-user:active {
	color: rgba(0,0,0, 0.3);
}

.user-login {
	position: relative;
	box-sizing: border-box;
	width: 120px;
	margin-right: 5px;
	padding: 0;
	padding-left: 50px;
}

.btn-user:hover::after {
	background-image: url(../img/icons/login-hover.png);
}

.user-login::after{
	display: inline-block;
	position: relative;
	content: '';
	width: 20px;
	height: 17px;
	left: -80px;
	background-image: url(../img/icons/login.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.user-registration {
	box-sizing: border-box;
	width: 150px;
	padding-left: 25px;
}

.menu-list {
	padding: 0;
	margin: 0;
}

.menu-list li {
	display: inline-block;
}

.menu-list a {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;	
	line-height: 55px;
	background-color: #32425c;
	padding-left: 31px;
	padding-right: 32px;
	margin-right: -5px;
	border-bottom: 5px solid #293449;
}

.menu-list li a:hover {
	background-color: #32425c;
}

.menu-list li:first-child a {
	padding-left: 50px;
}

.menu-list li:last-child a {
	padding-right: 50px;
}